{% extends 'company/dash/base.html' %}
{% load static %}
{% block NewContent %}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update Profile Details</h4>
            <p class="card-description"> Basic Details </p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" name="nm1" id="exampleInputName1" value="{{ USERS.com_name }}" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" name="em1" id="exampleInputEmail3" value="{{ USERS.com_em }}" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Password</label>
                <input type="text" class="form-control" name="pass1" id="exampleInputPassword4" value="{{ USERS.com_pass }}" placeholder="Password">
              </div>
              <div class="form-group">
                <label>File upload</label>
                
                {% if USERS.profile %}
                    <br>
                    <img src="{{ USERS.profile.url }}" width="200px">
                {% endif %}
                <input type="file" name="img1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputCity1">Contact No</label>
                <input type="text" class="form-control" name="con1" id="exampleInputCity1" value="{{ USERS.com_cno }}" placeholder="Location">
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Address</label>
                <textarea class="form-control" name="add1" id="exampleTextarea1" rows="2">
                    {{ USERS.com_add }}
                </textarea>
              </div>
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
</div>

{% endblock NewContent %}